*{padding: 0%;
margin: 0%;
box-sizing: border-box;}


.container{background-color: white;
text-align: left;
margin-top: 40px;
display: grid;
row-gap: 100px;}
body{margin-left: 100px;}

.horizontal{margin-left: 200px;
display: flex;
gap: 70px;}

.shapes{border: 1px solid black;
background-color: blueviolet;
width: 40px;
margin-top: -290px;
height: 210px;
margin-left: 200px;
border-radius: 30px;
animation-name: change;
animation-timing-function: bounce;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-delay: 0s;}
@keyframes change {
    0% {transform: translateY(0);}
    50% {transform:translateY(-20px);}
    100% {transform:translateY(0));}
    
}


.cylinder{display: flex;
gap: 10px;
animation-name: change;
animation-timing-function: bounce;
animation-duration: 2s;
animation-iteration-count: infinite;}
@keyframes change {
    0% {transform: translateY(0);}
    50% {transform:translateY(-20px);}
    100% {transform:translateY(0));}
    
}


.shapes2    {border: 1px solid black;
background-color: rgba(35, 186, 35, 0.712);
width: 40px;
height: 210px;
margin-top: -290px;
height: 210px;
margin-left: 60px;
border-radius: 30px;

animation-name: change;
animation-timing-function: bounce;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-delay: 0.1s;}
@keyframes change {
    0% {transform: translateY(0);}
    50% {transform:translateY(-20px);}
    100% {transform:translateY(0);}
    
}



.shapes3{border: 1px solid black;
background-color: rgba(255, 0, 0, 0.664);
width: 40px;
margin-top: -290px;
height: 210px;
margin-left: 60px;
border-radius: 30px;
animation-name: change;
animation-timing-function: bounce;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-delay: 0.2s;}
@keyframes change {
    0% {transform: translateY(0);}
    50% {transform:translateY(-20px);}
    100% {transform:translateY(0);}
    
}

.shapes4{border: 1px solid black;
background-color: rgba(0, 0, 255, 0.509);
width: 40px;
margin-top: -290px;
height: 210px;
margin-left: 60px;
border-radius: 30px;
animation-name: change;
animation-timing-function: bounce;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-delay: 0.3s;}
@keyframes change {
    0% {transform: translateY(0);}
    50% {transform:translateY(-20px);}
    100% {transform:translateY(0);}
    
}

.shapes5{border: 1px solid black;
background-color: rgba(50, 205, 50, 0.721);
width: 40px;
margin-top: -340px;
height: 260px;
margin-left: 60px;
border-radius: 30px;
animation-name: change;
animation-timing-function: bounce;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-delay: 0.4s;}
@keyframes change {
    0% {transform: translateY(0);}
    50% {transform:translateY(-20px);}
    100% {transform:translateY(0);}
    
}

.shapes6{border: 1px solid black;
background-color: rgba(255, 166, 0, 0.753);
width: 40px;
margin-top: -380px;
height: 300px;
margin-left: 60px;
border-radius: 30px;
animation-name: change;
animation-timing-function: bounce;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-delay: 0.5s;}
@keyframes change {
    0% {transform: translateY(0);}
    50% {transform:translateY(-20px);}
    100% {transform:translateY(0);}
    
}

.shapes7{border: 1px solid black;
background-color: blueviolet;
width: 40px;
margin-top: -270px;
height: 190px;
margin-left: 60px;
border-radius: 30px;
animation-name: change;
animation-timing-function: bounce;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-delay: 0.6s;}
@keyframes change {
    0% {transform: translateY(0);}
    50% {transform:translateY(-20px);}
    100% {transform:translateY(0);}
    
}

.shapes8{border: 1px solid black;
background-color: blue;
width: 40px;
margin-top: -330px;
height: 250px;
margin-left: 60px;
border-radius: 30px;animation-name: change;
animation-timing-function: bounce;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-delay: 0.5s;}
@keyframes change {
    0% {transform: translateY(0);}
    50% {transform:translateY(-20px);}
    100% {transform:translateY(0);}
    
}

.shapes9{border: 1px solid black;
background-color: lime;
width: 40px;
margin-top: -330px;
height: 250px;
margin-left: 70px;
border-radius: 30px;
animation-name: change;
animation-timing-function: bounce;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-delay: 0.4s;}
@keyframes change {
    0% {transform: translateY(0);}
    50% {transform:translateY(-20px);}
    100% {transform:translateY(0);}
    
}

.shapes10{border: 1px solid black;
background-color: red;
width: 40px;
margin-top: -290px;
height: 210px;
margin-left: 70px;
border-radius: 30px;
animation-name: change;
animation-timing-function: bounce;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-delay: 0.3s;}
@keyframes change {
    0% {transform: translateY(0);}
    50% {transform:translateY(-20px);}
    100% {transform:translateY(0);}
    
}

.shapes11{border: 1px solid black;
background-color: orange;
width: 40px;
margin-top: -380px;
height: 300px;
margin-left: 60px;
border-radius: 30px;
animation-name: change;
animation-timing-function: bounce;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-delay: 0.2s;}
@keyframes change {
    0% {transform: translateY(0);}
    50% {transform:translateY(-20px);}
    100% {transform:translateY(0);}
    
}

.emoji{margin-left: 8px;
margin-top: 10px;}

@media (max-width: 600px) {
*{padding: 0%;
margin: 0%;
box-sizing: border-box;}



.container{background-color: white
text-align: left;
margin-top: 50px;
display: grid;
row-gap: 100px;}

body{margin-left: 20px;
padding: 10px;
font-size: 14px;
text-align: center;
margin-right: 100px;}

.father{
    position: relative;
    height: 300px;
    width: 100%;
}

.horizontal{margin-left: 120px;
display: flex;
gap: 15px;}

.shapes{border: 1px solid black;
background-color: blueviolet;
width: 40px;
margin-top: -290px;
height: 210px;
margin-left: 120px;
border-radius: 30px;
animation-name: change;
animation-timing-function: bounce;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-delay: 0s;}
@keyframes change {
    0% {transform: translateY(0);}
    50% {transform:translateY(-20px);}
    100% {transform:translateY(0));}
    
}


.cylinder{display: flex;
gap: 10px;
animation-name: change;
animation-timing-function: bounce;
animation-duration: 2s;
animation-iteration-count: infinite;}
@keyframes change {
    0% {transform: translateY(0);}
    50% {transform:translateY(-20px);}
    100% {transform:translateY(0));}
    
}


.shapes2    {border: 1px solid black;
background-color: rgba(35, 186, 35, 0.712);
width: 40px;
height: 210px;
margin-top: -290px;
height: 210px;
margin-left: 20px;
border-radius: 30px;

animation-name: change;
animation-timing-function: bounce;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-delay: 0.1s;}
@keyframes change {
    0% {transform: translateY(0);}
    50% {transform:translateY(-20px);}
    100% {transform:translateY(0);}
    
}



.shapes3{border: 1px solid black;
background-color: rgba(255, 0, 0, 0.664);
width: 40px;
margin-top: -290px;
height: 210px;
margin-left: 20px;
border-radius: 30px;
animation-name: change;
animation-timing-function: bounce;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-delay: 0.2s;}
@keyframes change {
    0% {transform: translateY(0);}
    50% {transform:translateY(-20px);}
    100% {transform:translateY(0);}
    
}

.shapes4{border: 1px solid black;
background-color: rgba(0, 0, 255, 0.509);
width: 40px;
margin-top: -290px;
height: 210px;
margin-left: 17px;
border-radius: 30px;
animation-name: change;
animation-timing-function: bounce;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-delay: 0.3s;}
@keyframes change {
    0% {transform: translateY(0);}
    50% {transform:translateY(-20px);}
    100% {transform:translateY(0);}
    
}

.shapes5{border: 1px solid black;
background-color: rgba(50, 205, 50, 0.721);
width: 40px;
margin-top: -340px;
height: 260px;
margin-left: 20px;
border-radius: 30px;
animation-name: change;
animation-timing-function: bounce;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-delay: 0.4s;}
@keyframes change {
    0% {transform: translateY(0);}
    50% {transform:translateY(-20px);}
    100% {transform:translateY(0);}
    
}

.shapes6{border: 1px solid black;
background-color: rgba(255, 166, 0, 0.753);
width: 40px;
margin-top: -380px;
height: 300px;
margin-left: 20px;
border-radius: 30px;
animation-name: change;
animation-timing-function: bounce;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-delay: 0.5s;}
@keyframes change {
    0% {transform: translateY(0);}
    50% {transform:translateY(-20px);}
    100% {transform:translateY(0);}
    
}

.shapes7{border: 1px solid black;
background-color: blueviolet;
width: 40px;
margin-top: -270px;
height: 190px;
margin-left: 17px;
border-radius: 30px;
animation-name: change;
animation-timing-function: bounce;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-delay: 0.6s;}
@keyframes change {
    0% {transform: translateY(0);}
    50% {transform:translateY(-20px);}
    100% {transform:translateY(0);}
    
}

.shapes8{border: 1px solid black;
background-color: blue;
width: 40px;
margin-top: -330px;
height: 250px;
margin-left: 15px;
border-radius: 30px;animation-name: change;
animation-timing-function: bounce;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-delay: 0.5s;}
@keyframes change {
    0% {transform: translateY(0);}
    50% {transform:translateY(-20px);}
    100% {transform:translateY(0);}
    
}

.shapes9{border: 1px solid black;
background-color: lime;
width: 40px;
margin-top: -330px;
height: 250px;
margin-left: 20px;
border-radius: 30px;
animation-name: change;
animation-timing-function: bounce;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-delay: 0.4s;}
@keyframes change {
    0% {transform: translateY(0);}
    50% {transform:translateY(-20px);}
    100% {transform:translateY(0);}
    
}

.shapes10{border: 1px solid black;
background-color: red;
width: 40px;
margin-top: -290px;
height: 210px;
margin-left: 20px;
border-radius: 30px;
animation-name: change;
animation-timing-function: bounce;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-delay: 0.3s;}
@keyframes change {
    0% {transform: translateY(0);}
    50% {transform:translateY(-20px);}
    100% {transform:translateY(0);}
    
}

.shapes11{border: 1px solid black;
background-color: orange;
width: 40px;
margin-top: -380px;
height: 300px;
margin-left: 20px;
border-radius: 30px;
animation-name: change;
animation-timing-function: bounce;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-delay: 0.2s;}
@keyframes change {
    0% {transform: translateY(0);}
    50% {transform:translateY(-20px);}
    100% {transform:translateY(0);}
    
}

.emoji{margin-left: 3px;
margin-top: 10px;}

h1{text-align: center;
align-items: center;}

